<html>
<head>
    polls app
    
</head>
{% load static %}
<link rel="stylesheet" href="{% static "polls/style.css"%}">
<body>
    {% if latest_ques_list %}
    <ul>
    {% for question in latest_ques_list %}
        {% comment "" %}<li><a href="/polls/{{ question.id }}/">{{ question.ques_txt }}</a></li> {% endcomment %}
        {% comment "" %} <li><a href="/{{question.id}}/">{{question.ques_txt}}</li>  {% endcomment %} 
        
        <li><a href={% url 'polls:details' question.id%}> {{question.ques_txt}} </li>

    {% endfor %}
    </ul>
    {% else %}
         <p>No polls are available.</p>
    {% endif %}
</body>
</head>
</html>