li a{
    color: green;


}
body{
    color : violet;
    background: url("https://static.vecteezy.com/system/resources/previews/054/125/122/non_2x/icon-rainbow-bold-retro-unique-design-with-blank-background-vector.jpg") no-repeat;
    background-size: cover;
}